<section class="p-3">
    <div class="p-3">
        <h2><%= table %></h2>
    </div>
    <div>
        <%- include('../search') %>
    </div>
    <div>
        <a href="/admin/board/add">공지사항 작성</a>
        <form method="post" action="/admin/board/delete">
            <div>
                <div>
                    <input type="checkbox" id="allcheck" name="allcheck" value="allinstance" onclick="allclick(this)"> 전체 선택
                </div>
                <div>
                    <input type="submit" value="삭제">
                </div>
            </div>
            <div>
                <div>
                    <input type="checkbox">
                </div>
                <div>
                    제목
                </div>
                <div>
                    내용
                </div>
            </div>
            <% for (let i = 0; i < instances.length; i++) { %>
                <div>
                    <div>
                        <input type="checkbox" id="instance" name="instance" value="<%= instances[i].board_id %>">
                    </div>
                    <div>
                        <a href="/admin/board/<%= instances[i].board_id %>"><%= instances[i].title %></a>
                    </div>
                    <div>
                        <%= instances[i].auth %>
                    </div>
                </div>
            <% } %>
        </form>
    </div>
</section>