<section>
    <div>
        <%- include('../search') %>
    </div>
    <div>
        <a href="/admin/team/add">팀 추가</a>
        <form method="post" action="/admin/team/delete">
            <div>
                <div>
                    <input type="checkbox" id="allcheck" name="allcheck" value="allinstance" onclick="allclick(this)"> 전체 선택
                </div>
                <div>
                    <input type="submit" value="삭제">
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <input type="checkbox">
                    </div>
                </div>
                <div>
                    팀
                </div>
                <div>
                    리그
                </div>
            </div>
            <% for (let i = 0; i < instances.length; i++) { %>
                <div>
                    <div>
                        <input type="checkbox" id="instance" name="instance" value="<%= instances[i].team_id %>">
                    </div>
                    <div>
                        <a href="/admin/team/<%= instances[i].team_id %>"><%= instances[i].team %></a>
                    </div>
                    <div>
                        <%= instances[i].league %>
                    </div>
                </div>
            <% } %>
        </form>
    </div>
</section>