extends ../layout

block content
    article
        h2=`Edit - ${team.team}`
        form(action=`/table/${team.league.replace(/ /g, '_')}/${team.team.replace(/ /g, '_')}/edit` method='post')
            div 
                p Win
                p 
                    input(type='text' name='win' value=`${team.win}`) 
            div 
                p Draw
                p 
                    input(type='text' name='draw' value=`${team.draw}`) 
            div 
                p Lose
                p 
                    input(type='text' name='lose' value=`${team.lose}`) 
            div 
                p GF
                p 
                    input(type='text' name='gf' value=`${team.gf}`) 
            div 
                p GA
                p 
                    input(type='text' name='ga' value=`${team.ga}`) 
            div 
                input(type="submit" value="Edit")
        a(href=`/table/${team.league.replace(/ /g, '_')}/${team.team.replace(/ /g, '_')}/delete`) Delete Team 