extend layout 

block content 
    h2=league.replace(/_/g, ' ')+' - '+teamdata.team
    form(action=`/${league}/${teamdata.team.replace(/ /g, '_')}/edit`, method='post') 
        p Ranking: 
            input(type="text" name='ranking' value=teamdata.ranking)
        p Pl: 
            input(type="text" name='pl' value=teamdata.pl)
        p Win: 
            input(type="text" name='win' value=teamdata.win)
        p Draw: 
            input(type="text" name='draw' value=teamdata.draw)
        p Lose: 
            input(type="text" name='lose' value=teamdata.lose)
        p F: 
            input(type="text" name='f' value=teamdata.f)
        p A: 
            input(type="text" name='a' value=teamdata.a)
        p GD: 
            input(type="text" name='gd' value=teamdata.gd)
        p Pts: 
            input(type="text" name='pts' value=teamdata.pts)
        input(type="submit" value='Edit')
    a(href=`/${league}/${teamdata.team.replace(/ /g, '_')}/delete`) Delete