extend layout 

block content 
    div 
        h2='HTTP ' + errortype + ' ERROR!!!'
            case errortype 
                when 400
                    p Bad Request!!! 
                    | Blank is not allowed.
                when 404
                    p Page not found!!! 
                when 500
                    p Internal sever error!!! 
    div
        p 
            if league 
                if page == 'edit' 
                    a(href=`/${league}/${team}/edit`) Back 
                else if page == 'add'
                    a(href=`/${league}/add`) Back
                else 
                    a(href=`/${league}`) Back
            else 
                a(href='/') Back