extend layout 

block content
    if teams
        div(class='tables-header') 
            h2=league.replace(/_/g, ' ')
        div(class='tables-body')
            table(class='tables')
                thead 
                    tr 
                        td #
                        td(class='team') Team
                        td Pl 
                        td W 
                        td D 
                        td L 
                        td F 
                        td A 
                        td GD 
                        td Pts 
                        td Edit
                tbody 
                    each team in teams 
                        tr 
                            td=team.ranking
                            td=team.team 
                            td=team.pl 
                            td=team.win 
                            td=team.draw 
                            td=team.lose 
                            td=team.f 
                            td=team.a 
                            td=team.gd 
                            td=team.pts
                            td
                                a(href=`/${league}/${team.team.replace(/ /g, '_')}/edit`) edit
        div(class='tables-tail') 
            a(href=`/${league}/add`) Add Team
    else 
        div 
            img(src="/mainpage.jpg", alt="")