<section class="p-3">
    <div class="p-3 bg-primary-subtle rounded text-primary">
        <h1 class="p-3"><%= table %></h1>
    </div>
    <div class="p-3">
        <%- include('../search') %>
    </div>
    <div class="p-3 row">
        <div class="p-3 col rounded shadow">
            <div class="p-3 bg-primary-subtle rounded text-primary">
                <h4 class="p-1">게시글 조회</h4>
            </div>
            <div class="p-3">
                <h4>제목 - <% if (instance.notice === 1) { %>공지) <% } %><%= instance.title %></h4>
            </div>
            <div class="p-3 row row-cols-3">
                <div class="col">카테고리 - <%= instance.category %></div>
                <div class="col">작성시각 - <%= new Date(instance.create_date).toLocaleString() %></div>
                <div class="col">마지막 수정시각 - 
                    <% if (instance.modify_date) { %>
                        <%= new Date(instance.modify_date).toLocaleString() %>
                    <% } else { %>
                        수정이 이뤄지지 않았습니다.
                    <% } %>
                </div>
            </div>
            <% if (media) { %>
                <div class="p-3">
                    <div>첨부파일</div>
                    <% for (let i = 0; i < media.length; i++ ) { %>
                        <% if (board_media[i].media_type === "image") { %>
                            <p><img src="<%= media[i].URL.substring(1, ) %>" alt=""></p>
                        <% } else { %>
                            <p><video src="<%= media[i].URL.substring(1, ) %>" autoplay controls="true"></video></p>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
            <div class="p-3">
                <div><%= instance.content %></div>
            </div>
        </div>
    </div>
</section>