<section class="p-3">
    <div class="p-3 bg-primary-subtle rounded text-primary">
        <h1 class="p-3"><%= table %></h1>
    </div>
    <div class="p-3">
        <%- include('../search') %>
    </div>
    <div class="p-3 row">
        <div class="p-3 col rounded shadow">
            <div class="p-3 bg-primary-subtle rounded text-primary">
                <h4 class="p-1">팀 정보</h4>
            </div>
            <div class="p-3">
                <table class="table">
                    <thead class="bg-primary-subtle">
                        <tr>
                            <td>속성</td>
                            <td>정보</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>팀 이름</td>
                            <td><%= instance.team %></td>
                        </tr>
                        <tr>
                            <td>경기 수</td>
                            <td><%= instance.pl %></td>
                        </tr>
                        <tr>
                            <td>승점</td>
                            <td><%= instance.pts %></td>
                        </tr>
                        <tr>
                            <td>승리</td>
                            <td><%= instance.win %></td>
                        </tr>
                        <tr>
                            <td>무승부</td>
                            <td><%= instance.draw %></td>
                        </tr>
                        <tr>
                            <td>패배</td>
                            <td><%= instance.lose %></td>
                        </tr>
                        <tr>
                            <td>팀 득점</td>
                            <td><%= instance.gf %></td>
                        </tr>
                        <tr>
                            <td>팀 실점</td>
                            <td><%= instance.ga %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-3 col rounded shadow">
            <div class="p-3 bg-primary-subtle rounded text-primary">
                <h4 class="p-1">팀 기록 수정</h4>
            </div>
            <div class="p-3">
                <form method="post" action="/admin/<%= table %>/<%= instance.team_id %>" class="form-control shadow-sm">
                    <%- include('../error') %>
                    <div class="p-1">
                        <label for="team"></label>
                        <input type="text" id="team" name="team" placeholder="팀" class="form-control form-control-sm rounded border border-2 border-primary">
                    </div>
                    <div class="p-1">
                        <label for="win"></label>
                        <input type="text" id="win" name="win" placeholder="승리" class="form-control form-control-sm rounded border border-2 border-primary">
                    </div>
                    <div class="p-1">
                        <label for="draw"></label>
                        <input type="text" id="draw" name="draw" placeholder="무승부" class="form-control form-control-sm rounded border border-2 border-primary">
                    </div>
                    <div class="p-1">
                        <label for="lose"></label>
                        <input type="text" id="lose" name="lose" placeholder="패배" class="form-control form-control-sm rounded border border-2 border-primary">
                    </div>
                    <div class="p-1">
                        <label for="gf"></label>
                        <input type="text" id="gf" name="gf" placeholder="팀 득점" class="form-control form-control-sm rounded border border-2 border-primary">
                    </div>
                    <div class="p-1">
                        <label for="ga"></label>
                        <input type="text" id="ga" name="ga" placeholder="팀 실점" class="form-control form-control-sm rounded border border-2 border-primary">
                    </div>
                    <div class="p-3">
                        <input type="submit" value="수정" class="btn btn-sm btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>