<%- include('../header') %>
    <div class="category">
        <div>
            <h2>Category</h2>
        </div>
        <div>
            <% for (let i = 0; i < leagues.length; i++) { %>
                <a href="/board/<%= leagues[i].category.replace(/ /g, '_') %>"><%= leagues[i].category %></a>
            <% } %>
        </div>
    </div>
    <div class="board-body">
        <div>
            <h2>Notice</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <td class="board-No">No</td>
                    <td class="board-category">Category</td>
                    <td class="board-title">Notice</td>
                    <td class="board-writer">Writer</td>
                    <td class="board-date">Date</td>
                    <% if (auth ==="admin") { %>
                        <td>Delete?</td>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < notices.length; i++) { %>
                    <tr>
                        <td class="board-No"><%= notices[i].no %></td>
                        <td class="board-category"><%= notices[i].category %></td>
                        <td class="board-title">
                            <a href="/board/<%= notices[i].board_id %>"><%= notices[i].title %></a>
                        </td>
                        <td class="text-overflow"><%= notices[i].auth %></td>
                        <td class="board-date"><%= new Date(notices[i].create_date).toLocaleDateString() %></td>
                        <% if (auth ==="admin") { %>
                            <td>
                                <a href="/board/<%= notices[i].board_id %>/delete">Delete</a>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div>
            <h2>Posts</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <td class="board-No">No</td>
                    <td class="board-category">Category</td>
                    <td class="board-title">Post</td>
                    <td class="board-writer">Writer</td>
                    <td class="board-date">Date</td>
                    <% if (auth ==="admin") { %>
                        <td>Delete?</td>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < postlist.length; i++) { %>
                    <tr>
                        <td class="board-No"><%= postlist[i].no %></td>
                        <td class="board-category"><%= postlist[i].category %></td>
                        <td class="board-title">
                            <a href="/board/<%= postlist[i].board_id %>"><%= postlist[i].title %></a>
                        </td>
                        <td class="text-overflow"><%= postlist[i].auth %></td>
                        <td class="board-date"><%= new Date(postlist[i].create_date).toLocaleDateString() %></td>
                        <% if (auth ==="admin") { %>
                            <td>
                                <a href="/board/<%= postlist[i].board_id %>/delete">Delete</a>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="board-tail">
        <% if (user) { %>
            <a href="/board/post" class="a-btn" style="float: right;">Post</a>
        <% } %>
        <div class="paging-bar">
            <a href="/board/<%= category %>">처음으로</a>
            <% if (currentPage - 10 > 0) { %>
                <a href="/board/<%= category - 10 %>"><img src="/board/paging1.png"></a>
            <% } %>
            <% for (let i = -4; i < 5; i++) { %>
                <% if (currentPage + i >= 1 && currentPage + i <= lastPage) { %>
                    <% if (currentPage + i === 1) { %>
                        <a href="/board/<%= category %>">1</a>
                    <% } else { %>
                        <a href="/board/?category=<%= category %>&page=<%= currentPage + i %>"><%= currentPage + i %></a>
                    <% } %>
                <% } %>
            <% } %>
            <% if (currentPage + 10 < lastPage) { %>
                <a href="/board/<%= category - 10 %>"><img src="/board/paging2.png"></a>
            <% } %>
        </div>
    </div>
<%- include('../footer') %>