extends ../layout

block content 
    div(class='authbox')
        if !user
            div
                h2 Sign Up
            div
                p If you have ID... 
                    a(href="/auth/login") Login
            
            div
                form(action="/auth/signup", method="post") 
                    div 
                        h3 ID
                        p(class='auth-signup-explanation') ID length should is over 5 and below 12. And you can only use alphabet and number at ID.
                        input(class='rgb-180-180-180' type="text", name="id" value=UserData?UserData["id"]:"" placeholder='ID')
                    div 
                        h3 Password
                        p(class='auth-signup-explanation') Password length should is over 8.
                        input(class='rgb-180-180-180 auth-signup-password' type="password", name="password" placeholder='Password')
                        input(class='rgb-180-180-180 auth-signup-password' type="password", name="checkpassword" placeholder="One more...")
                    div 
                        h3 Nickname
                        p(class='auth-signup-explanation') You can use Alphabet and Number at Nickname.
                        input(class='rgb-180-180-180' type="text", name="nickname" value=UserData?UserData["nickname"]:"" placeholder='Nickname')
                    div 
                        h3 Phone
                        input(class='rgb-180-180-180 auth-signup-phone' type="text", name="phone1" value=UserData?UserData["phone1"]:"010")
                        input(class='rgb-180-180-180 auth-signup-phone' type="text", name="phone2" value=UserData?UserData["phone2"]:"")
                        input(class='rgb-180-180-180 auth-signup-phone' type="text", name="phone3" value=UserData?UserData["phone3"]:"")
                    div 
                        h3 E-mail
                        input(class='rgb-180-180-180' type="text", name="email" value=UserData?UserData["email"]:"" placeholder='E-mail')
                    div
                        input(type="submit" class='form-submit' value='Signup')

                include ../error
        else 
            p You have already Login!
            p
                a(href="/") Go to Mainpage