extends ../layout

block content
    div 
        h3=post.category
    div(class='post-body')
        div(class='post-title')
            p=post.title
            p(class='post-auth-date')=post.auth + ", posted at " + new Date(post.create_date).toLocaleString()
            if post.modify_date
                p="modified at " + new Date(post.modify_date).toLocaleString()
        div
            p(class='post-content')=post.content
    
    div(class='post-tail')
        a(class='a-btn' href="/board") Back