extends ../layout

block content
    div 
        h3=post.category
    div(class='post-body')
        div(class='post-title')
            p=post.title
            p(class='post-auth-date')=post.auth + ", posted at " + new Date(post.create_date).toLocaleString()
            if post.modify_date
                p(class='post-auth-date')="modified at " + new Date(post.modify_date).toLocaleString()
        div
            p(class='post-content')=post.content
                
    
    div(class='post-tail')
        div 
            if post.auth === user
                a(class='a-btn' href=`/board/${post.category.replace(/ /g, '_')}/${post.board_id}/edit`) Edit
                a(class='a-btn' href=`/board/${post.category.replace(/ /g, '_')}/${post.board_id}/delete`) Delete
            a(class='a-btn' href="/board") Back