extends ../layout

block content 
    div(class='category')
        div
            h2 Category
        div 
            each league in leagues
                a(href=`/board/${league.category.replace(/ /g, '_')}`)=league.category

    div(class='board-body')
        table 
            thead 
                tr 
                    td(class='board-No') No 
                    td(class='board-category') Category
                    td(class='board-title') Notice
                    td(class='board-writer') Writer 
                    td(class='board-date') Date 
                    if auth === "admin"
                        td Delete?
            tbody 
                each notice, i in notices
                    tr 
                        td(class='board-No')=notices.length - i
                        td=notice.category
                        td
                            a(href=`/board/${notice.category.replace(/ /g, '_')}/${notice.board_id}`)=notice.title 
                        td(class='text-overflow')=notice.auth 
                        td=new Date(notice.create_date).toLocaleDateString()
                        if auth === "admin"
                            td 
                                a(class='text-overflow' href=`/board/${notice.category.replace(/ /g, '_')}/${notice.board_id}/delete`) Delete

        table
            thead
                tr 
                    td(class='board-No') No 
                    td(class='board-category') Category
                    td(class='board-title') Title 
                    td(class='board-writer') Writer 
                    td(class='board-date') Date 
                    if auth === "admin"
                        td Delete?
            tbody 
                each post, i in postlist 
                    tr 
                        td(class='board-No text-overflow')=postlist.length - i
                        td=post.category 
                        td
                            a(class='text-overflow' href=`/board/${post.category.replace(/ /g, '_')}/${post.board_id}`)=post.title 
                        td(class='text-overflow')=post.auth 
                        td=new Date(post.create_date).toLocaleDateString()
                        if auth === "admin"
                            td 
                                a(href=`/board/${post.category.replace(/ /g, '_')}/${post.board_id}/delete`) Delete

    div(class='board-tail')
        if user
            a(href='/board/post' class='a-btn') Write