<%- include('../header') %>
    <div>
        <h1>Table</h1>
    </div>
    <div class="league-list">
        <ul>
            <% for (let i = 0; i < leagues.length; i++) { %>
                <li>
                    <a href="/table/<%= leagues[i].league.replace(/ /g, '_') %>">
                        <img src="/table/<%= leagues[i].league.replace(/ /g, '_') %>.jpg" alt="">
                        <p><%= leagues[i].league %></p>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
<%- include('../footer') %>