<%- include('header') %>
    <%- include('navbar') %>
    <% if (auth === 'admin') { %>
        <% if (instances) { %>
            <% if (table === 'board') { %>
                <%- include('./instances/board') %>
            <% } %>
            <% if (table === 'personal_info') { %>
                <%- include('./instances/personal_info') %>
            <% } %>
            <% if (table === 'team') { %>
                <%- include('./instances/team') %>
            <% } %>
            <% if (table === 'category') { %>
                <%- include('./instances/category') %>
            <% } %>
        <% } else { %>
            <section class="p-3">
                <div class="p-3 bg-primary-subtle rounded text-primary">
                    <h1 id="tablename" class="p-3">Admin</h1>
                </div>
                <div class="p-3">
                    <%- include('search') %>
                </div>
            </section>
        <% } %>
    <% } else { %>
        <h1>You aren't Admin</h1>
    <% } %>
<%- include('footer') %>