<%- include('header') %>
    <%- include('navbar') %>
    <% if (auth === 'admin') { %>
        <% if (table) { %>
            <% if (table === 'board') { %>
                <%- include('./add/board/') %>
            <% } %>
            <% if (table === 'team') { %>
                <%- include('./add/team') %>
            <% } %>
            <% if (table === 'category') { %>
                <%- include('./add/category') %>
            <% } %>
        <% } else { %>
            <h1>Main Page</h1>
        <% } %>
    <% } else { %>
        <h1>You aren't Admin</h1>
    <% } %>
<%- include('footer') %>